@import url('https://unpkg.com/swiper/swiper-bundle.min.css');

:root {
    --clr-primary-1: #ffffc2;
    --clr-primary-2: #fffa89;
    --clr-primary-3: #ffee2e;
    --clr-primary-4: #fde012;
    --clr-primary-5: #ecc606;
    --clr-primary-6: #cc9b02;
    --clr-primary-7: #a36e05;
    --clr-primary-8: #86560d;
    --clr-primary-9: #724711;
    --clr-primary-10: #432505;

    --clr-gray-1: #f6f6f6;
    --clr-gray-2: #efefef;
    --clr-gray-3: #dbdbdb;
    --clr-gray-4: #c6c6c6;
    --clr-gray-5: #aeaeae;
    --clr-gray-6: #898989;

    --clr-gray-7: #707070;
    --clr-gray-8: #575757;
    --clr-gray-9: #464646;
    --clr-gray-10: #3e3e3e;
    --clr-white : #fff;
    --ff-primary : "Poppins", sans-serif;
    --transition : all 0.3s linear;
    --spacing : 0.25rem;
    --radius : 0.5rem;
    --light-shadow : 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow : 0 5px 15px rgba(0,0,0,0.2);
    --navbar-Height: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px; background: #eee; height: 100%; scroll-behavior: smooth; 

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: var(--spacing);
}
.section {
    padding: 5rem, 0;
    scroll-margin-top: var(--navbar-Height);


}


.footer{
    background: var(--clr-gray-10);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}
.footer-links, .footer-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.footer-link{
    color: var(--clr-white);
    text-transform: capitalize;
    font-size: 1rem;
    margin-right: 1rem;
    letter-spacing: var(--spacing);
    transition: var(--transition); 
}
.footer-link:hover{
    color: var(--clr-primary-5);
}
.footer-icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--clr-white);
    transition: var(--transition);
}
.footer-icon:hover{
    color: var(--clr-primary-5);
}
.copyright{
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    color: var(--clr-white);
}

.copyright span{
    margin-left: 0.5rem;
}

/* ----------
navbar
========== */
.navbar {
    /* fixed the navbar at the top of the page */
    position: fixed;
    top: 0;
    left: 0;
    /* ============= */
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    height: var(--navbar-Height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-family: "Poppins", sans-serif;
}
/* logo container */
.nav-logo {
    width: 35px;
    height: 35px;
    margin: 40px;
}

/* nav-list ul all the links */
.nav-list {
    display: flex;
    height: 2rem;
}

.sub-nav-list{
    display: none;
    position: absolute;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    margin: 10px;
}

.sub-sub-nav-list{
    display: none;
    position: absolute;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    left: 100%;
    top: 0;
    width: 100%;
}

.sub-sub-nav-list-v2{
    display: none;
    position: absolute;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    left: 100%;
    top: 25%;
    width: 100%;
}


.sub-sub-nav-list-v3{
    display: none;
    position: absolute;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    left: 100%;
    top: 50%;
    width: 100%;
}


.sub-sub-nav-list-v4{
    display: none;
    position: absolute;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    left: 100%;
    top: 75%;
    width: 100%;
}

.nav-item:hover .sub-nav-list {
    display: block;
    }

.sub-nav-item:hover .sub-sub-nav-list{
    display: block;
}

.sub-nav-item:hover .sub-sub-nav-list-v2{
    display: block;
}


.sub-nav-item:hover .sub-sub-nav-list-v3{
    display: block;
}


.sub-nav-item:hover .sub-sub-nav-list-v4{
    display: block;
}

/* links item */
.nav-link {
    margin: 5px;
    text-transform: capitalize;
    color: var(--clr-primary-6);
    font-size: 24px;
    background-color:#ffffff;
    padding: 14px;  
}

.nav-link:hover {
    color: var(--clr-primary-8);
    /* font-size: 1.3rem; */
}

.sub-nav-link{
    margin: 5px;
    text-transform: capitalize;
    color: var(--clr-primary-6);
    font-size: 24px;
    padding: 14px;  
}

.sub-nav-link:hover {
    color: var(--clr-primary-8);
}


.sub-sub-nav-link:hover {
    color: var(--clr-primary-8);
}

/* icon-list ul */
.nav-icons-list {
    display: flex;
    margin: 40px;
    padding-bottom: 1px;
}
/* icon item */
.nav-icon {
    margin: 5px;
    font-size: 1.3rem;
    color: var(--clr-primary-6);
}
.nav-icon:hover {
    color: var(--clr-primary-8);
    transition: var(--transition); 

}
/* logo img set to 100% of the container */
img.logo-link {
    width: 100%;    
}
    /* ======== MOBILE NAVIGATION ======== */
    .nav-mobile {
        display: none;
        margin-top: 25px;
      }
  
      .nav-mobile-toggle {
        display: none;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--clr-primary-6);
        margin-right: 40px;
      }
  
      .mobile-nav-list {
        display: none;
      }
  
      @media (max-width: 1200px) {
        /* Hide desktop nav components */
        .nav-links .nav-list,
        .nav-icons {
          display: none;
        }
  
        /* Show mobile nav components */
        .nav-mobile,
        .nav-mobile-toggle {
          display: block;
        }
  
        /* Mobile menu */
        .mobile-nav-list {
          position: fixed;
          top: var(--navbar-Height);
          right: -100%;
          width: 100%;
          height: calc(100vh - var(--navbar-Height));
          background: var(--clr-gray-1);
          transition: all 0.3s ease;
          overflow-y: auto;
          z-index: 99;
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          color: var(--clr-primary-9);
        }
  
        .mobile-nav-list.active {
          right: 0;
        }
  
        .mobile-nav-link {
          display: block;
          padding: 15px 20px;
          font-size: 18px;
          text-align: center;
          color:#cc9b02;
          font-weight: bold;
        }
        .mobile-nav-link:hover {
          background-color: var(--clr-gray-5);
          
        }
          
        .mobile-nav-link-v2{
            display: block;
            padding: 15px 20px;
            font-size: 18px;
            text-align: center;
            background-color: var(--clr-gray-3);
            color:#cc9b02;
            font-weight: bold;
          }
    
          .mobile-nav-link-v2:hover {
            background-color: var(--clr-gray-5);
            
          }

                    
        .mobile-nav-link-v3{
            display: block;
            padding: 15px 20px;
            font-size: 18px;
            text-align: center;
            background-color: var(--clr-gray-4);
            color:#cc9b02;
            font-weight: bold;
          }
    
          .mobile-nav-link-v3:hover {
            background-color: var(--clr-gray-5);
            
          }
  
        /* Mobile dropdown toggles */
        .mobile-dropdown {
          position: relative;
        }
  
        .mobile-dropdown-toggle {
          position: absolute;
          right: 0;
          top: 0;
          width: 450px;
          height: 55px;
          display: flex;
          align-items: center;
          justify-content: start;
          z-index: 2;
          color:#cc9b02;
          font-weight: bold;
        }

          
        #mobile-dropdown-toggle {
            width: 420px;
        }

        .mobile-dropdown-toggle i {
          transition: transform 0.3s;
        }
  
        .mobile-dropdown-toggle.active i {
          transform: rotate(180deg);
        }

          


        /* Mobile submenus */
        .mobile-submenu {
          display: none;
          background-color: rgba(255, 250, 137, 0.5);
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.5s ease;
        }
  
        .mobile-submenu.open {
          display: block;
          max-height: 1000px;
        }
  
        .mobile-submenu .mobile-nav-link {
          padding-left: 35px;
          font-size: 16px;
        }
  
        .mobile-sub-submenu {
          display: none;
          background-color: rgba(255, 250, 137, 0.3);
        }
  
        .mobile-sub-submenu.open {
          display: block;
        }
  
        .mobile-sub-submenu .mobile-nav-link {
          padding-left: 50px;
          font-size: 15px;
        }
      }

      @media(max-width: 992px){
        .mobile-dropdown-toggle {         
            width: 350px;
         }
  
            
          #mobile-dropdown-toggle {
              width: 320px;
          }
      }


      @media(max-width: 950px){
        .mobile-dropdown-toggle {         
            width: 410px;
         }
  
            
          #mobile-dropdown-toggle {
              width: 380px;
          }
      }


      @media(max-width: 860px){
        .mobile-dropdown-toggle {         
            width: 370px;
         }
  
            
          #mobile-dropdown-toggle {
              width: 340px;
          }
      }


     
      @media(max-width: 768px){
        .mobile-dropdown-toggle {         
            width: 330px;
         }
  
            
          #mobile-dropdown-toggle {
              width: 300px;
          }
      }

      @media(max-width: 600px){
        .mobile-dropdown-toggle {         
            width: 250px;
         }
  
            
          #mobile-dropdown-toggle {
              width: 220px;
          }
      }
  

      @media(max-width: 550px){
        .mobile-dropdown-toggle {         
            width: 230px;
         }
          #mobile-dropdown-toggle {
              width: 200px;
          }
      }
  


      @media(max-width: 500px){
        .mobile-dropdown-toggle {         
            width: 150px;
         }
  
            
          #mobile-dropdown-toggle {
              width: 120px;
          }
      }


      @media(max-width: 450px){
        .mobile-dropdown-toggle {         
            width: 130px;
         }
  
            
          #mobile-dropdown-toggle {
              width: 100px;
          }
      }





button{
    background-color: #724711;
    border: none;
    color: white; 
    border-radius: 25px; 
    margin-top: 25px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}

button:hover{
    color:#3b3b3b;;
}

h3{
    margin-top: 20px;
    color:#724711;
    margin: auto;

}
p{
    color: #cc9b02;

    max-width: 600px;
    margin: auto;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px;

}
.year{
    color:#724711;
    font-weight: bold;
}

.culture_image{
    max-width: 600px;
    margin-top: 25px;
    margin-bottom: 25px;

}
.image{margin: auto; text-align: center;}

.video{
    margin: auto; max-width: 600px; text-align: center; margin-top: 55px;margin-bottom: 25px;
}
.main-content{max-width: 600px; margin: auto; text-align: center;
}
h1{
    margin-top: 50px;
    color:#724711;;
    text-align: center;
    font-weight: bold;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-size: 2.5rem;
    padding-top: 50px;
}


@media(max-width:1033px){
    html,
body {

    height: 100%;

    background: #cc9b02;
    
}


button{
    background-color: white;
    border: none;
    color: #724711; 
    border-radius: 25px; 
    margin-top: 25px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 15px;
}

button:hover{
    color: #cc9b02;;
}
h3{
    margin-top: 20px;
    color:#3b3b3b;
}
p{
    color: white;

    max-width: 400px;
    margin: auto;
    padding: 10px;

}

.year{
    color:#3b3b3b;
    font-weight: bold;
}

.culture_image{
    max-width: 400px;
    margin-top: 25px;
    margin-bottom: 25px;

}
.image{margin: auto; text-align: center;}


.video{
    margin: auto; 
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
h1{
    margin-top: 50px;
    color:#3b3b3b;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}
}
@media(max-width:768px){
    .video{
        max-width: 350px;
    }
    .culture_image{
        max-width: 350px;
    }
    p{
        margin: 10px;
        padding: 10px;
    }
}