
:root {
    --clr-primary-1: #ffffc2;
    --clr-primary-2: #fffa89;
    --clr-primary-3: #ffee2e;
    --clr-primary-4: #fde012;
    --clr-primary-5: #ecc606;
    --clr-primary-6: #cc9b02;
    --clr-primary-7: #a36e05;
    --clr-primary-8: #86560d;
    --clr-primary-9: #724711;
    --clr-primary-10: #432505;

    --clr-gray-1: #f6f6f6;
    --clr-gray-2: #efefef;
    --clr-gray-3: #dbdbdb;
    --clr-gray-4: #c6c6c6;
    --clr-gray-5: #aeaeae;
    --clr-gray-6: #898989;

    --clr-gray-7: #707070;
    --clr-gray-8: #575757;
    --clr-gray-9: #464646;
    --clr-gray-10: #3e3e3e;
    --clr-white : #fff;
    --ff-primary : "Poppins", sans-serif;
    --transition : all 0.3s linear;
    --spacing : 0.25rem;
    --radius : 5rem;
    --light-shadow : 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow : 0 5px 15px rgba(0,0,0,0.2);
    --navbar-Height: 4rem;
}
@media(min-width:1033px){
    .thank-info{
        margin-bottom: 50px;
        text-align: center;
    }
.thank-you-h2{
    font-size: 72px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--clr-primary-6);
}
.thank-you-h2 span{
    color: var(--clr-primary-8);
}
.fa-check{
    font-size: 148px;
    color: green;
    font-weight: bold;
}
p.thank-you-p{
    font-size: 24px;
    font-weight: bold;
    color: var(--clr-primary-6);
}
.thank-you-a{
    text-decoration: none;
    color: var(--clr-primary-8);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10vh;
}
.thank-you-a:hover{
    color: var(--clr-primary-9);
}
.thank-you-a:active{
    color:var(--clr-primary-10);
}
}
@media(max-width:1033px){
    .thank-info{
        margin-bottom: 50px;
        text-align: center;
    }
    .thank-you-h2{
        font-size: 72px;
        font-family: 'Times New Roman', Times, serif;
        color: var(--clr-gray-2);
    }
    .thank-you-h2 span{
        color: var(--clr-gray-4);
    }
    .fa-check{
        font-size: 148px;
        color: green;
        font-weight: bold;
    }
    p.thank-you-p{
        font-size: 24px;
        font-weight: bold;
        color: var(--clr-gray-2);
    }
    .thank-you-a{
        text-decoration: none;
        color: var(--clr-gray-4);
        font-weight: bold;
        font-size: 20px;
    }
    .thank-you-a:hover{
        color: var(--clr-gray-6);
    }
    .thank-you-a:active{
        color:var(--clr-gray-8);
    }
    }
    